---
import 'bootstrap/dist/css/bootstrap.css';
import '../styles/global.css';
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>My Website</title>
</head>
<body class=" container py-4">
<slot></slot>
</body>
</html>
