---
// /src/layouts/Layout.astro
import 'bootstrap/dist/css/bootstrap.css'
---
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>
        My Website
    </title>
    <style>
        body {
        max-width: 1200px;
        margin: auto;
        padding: 20px;

        }

    </style>
    <slot></slot>
</head>
</html>

