---
// /src/layouts/Layout.astro
import 'bootstrap/dist/css/bootstrap.css'
---
<html lang="en" >
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>
        My Website
    </title>
    <style>
        body {

            padding-left: 350px;
            padding-right: 250px;
            //padding-left: 75px;
            //background-image: url('/giphy.gif');
            //background-size: cover;
            //background-position: center;
            //background-repeat: no-repeat;
        }

    </style>
    <slot><body class="container py-4"></body></slot>
</head>
</html>

