---

---

<div class="container">
    <div>
        <h4>Databases </h4>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-2">
        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/sql.png" alt="Jetbrains" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">MySQL</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/db.svg" alt="Docker" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">MongoDB</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/micorosoft.png" alt="Docker" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">MS SQL </p>
        </div>
    </div>

</div>
