---

---

<div class="container py-4">
    <footer>
      <!--<p> all rights reserved hugh vergara pogi</p>-->
        <div class=" d-flex justify-content-center align-items-center">
            <p>hugh vergara pogi</p>
        </div>
    </footer>
</div>

