<div class="container py-4">
    <footer class="footer text-center mx-auto w-100" style="max-width: 90%;">
        <div>
            <p class="footer-title">CONNECT WITH ME</p>
        </div>
        <div class="icon-container d-flex justify-content-center gap-3">
            <a href="https://www.linkedin.com/in/vergara-hugh/" target="_blank">
                <i class="bi bi-linkedin"></i>
            </a>
            <a href="https://x.com/hugh_vergara" target="_blank">
                <i class="bi bi-twitter-x"></i>
            </a>
            <a href="https://www.instagram.com/hugh_vergara/" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
        </div>

        <div class="mt-3">
            <p class="footer-text">© 2024 Simple Webpage By VERGARA, HUGH MCLUDE L. All rights reserved.</p>
            <p class="footer-text">Contact Me: mikovergara21@gmail.com</p>
        </div>
    </footer>
</div>
