---

---

<header>
    <div class="container py-4">
        <div class="d-flex flex-row">
            <div class="col-sm">
                <a href="/" class="text-dark text-decoration-none active">Home</a>
            </div>
            <div class="col-sm">
                <a href="" class="text-dark text-decoration-none">Projects</a>
            </div>
            <div class="col-sm">
                <a href="https://github.com/hugh-vergara?tab=repositories" class="text-dark text-decoration-none">Github</a>
            </div>
        </div>
    </div>
</header>
<style>
    .active {
        text-decoration: underline;
        text-decoration-color: blue;
    }
</style>
