---
import '../styles/global.css';
---
<header class=" opacity-50 fixed-top bg-white shadow w-100 d-flex justify-content-center py-3" style="background-color: rgba(255, 255, 255, 0.5);">
    <nav class="d-flex gap-5">
        <a href="/" class="text-dark text-decoration-none active">Home</a>
        <a href="/projects" class="text-dark text-decoration-none">Projects</a>
        <a href="https://github.com/hugh-vergara?tab=repositories" class="text-dark text-decoration-none">Github</a>
        <a href="https://n-queens-three.vercel.app/">N-Queens Solver!</a>
    </nav>
</header>
