---

---


<!--    <div class="container py-4">-->
<!--        <header class="fixed-top bg-white shadow ">-->
<!--        <div class="d-flex flex-row">-->
<!--            <div class="col-sm">-->
<!--                <a href="/" class="text-dark text-decoration-none active">Home</a>-->
<!--            </div>-->
<!--            <div class="col-sm">-->
<!--                <a href="" class="text-dark text-decoration-none">Projects</a>-->
<!--            </div>-->
<!--            <div class="col-sm">-->
<!--                <a href="https://github.com/hugh-vergara?tab=repositories" class="text-dark text-decoration-none">Github</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        </header>-->
<!--    </div>-->

<!--<style>-->
<!--    .active {-->
<!--        text-decoration: underline;-->
<!--        text-decoration-color: blue;-->
<!--    }-->
<!--    header{-->
<!--        padding-left: 500px;-->
<!--        padding-right: 500px;-->
<!--        padding-top: 20px;-->
<!--        padding-bottom: 20px;-->

<!--    }-->
<!--</style>-->

<div class="container py-4">
    <header class="fixed-top bg-white shadow">
        <div class="d-flex flex-row">
            <div class="col-sm">
                <a href="/" class="text-dark text-decoration-none active">Home</a>
            </div>
            <div class="col-sm">
                <a href="/projects" class="text-dark text-decoration-none">Projects</a>
            </div>
            <div class="col-sm">
                <a href="https://github.com/hugh-vergara?tab=repositories" class="text-dark text-decoration-none">Github</a>
            </div>
        </div>
    </header>
</div>

<style>
    .active {
        text-decoration: underline;
        text-decoration-color: blue;
    }

    header {
        padding-left: 500px;
        padding-right: 500px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    /* Underline hover effect */
    a {
        position: relative;
        text-decoration: none;
        font-weight: normal !important;
    }

    a:hover {
        text-decoration: none;
    }

    a::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: black;
        transform: scaleX(0);
        transform-origin: center;
        transition: transform 0.3s ease-in-out;
    }

    a:hover::after {
        transform: scaleX(1);
    }
</style>


