---

---

<div class="container">
    <div>
        <h4>Hosting Services</h4>
    </div>
    <div class="d-flex flex-wrap justify-content-center mt-2">
        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/netlify.svg" alt="Jetbrains" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Netlify</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/vercel.webp" alt="Docker" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Vercel</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/h.png" alt="Docker" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Heroku</p>
        </div>
    </div>

</div>
