---

---
<div class="container">
    <div><h4>Programming Languages</h4></div>

    <div class="d-flex flex-wrap justify-content-center mt-2">
        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/py.png" alt="Python" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Python</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/c.png" alt="C" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">C</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/java.png" alt="Java" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Java</p>
        </div>
    </div>


</div>