
<div class="container">
    <div><h4>Development Tools</h4></div>

    <div class="d-flex flex-wrap justify-content-center mt-2">
        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/jet.png" alt="Jetbrains" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Jetbrains</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/docker.png" alt="Docker" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Docker</p>
        </div>

        <div class="d-flex flex-column align-items-center col-sm text-center mt-2">
            <img src="/git.png" alt="Docker" class="img-fluid" style="width: 60px; height: 60px;">
            <p class="mt-2 mb-0">Git</p>
        </div>
    </div>




</div>


  <!--visual studio , git , docker , jetbrains  <i class="bi bi-git fs-1"></i>-->