
<div class="container">
    <div><h4>Development Tools</h4></div>
    <div class="d-flex flex-row col-sm mt-2">
        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/vs.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">Visual Studio</p>
        </div>

        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/jet.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">Jetbrains</p>
        </div>

        <div class="d-flex col-sm mt-2 align-items-center">
            <i class="bi bi-git fs-1"></i>
            <p class="ms-3 mb-0">Git</p>
        </div>

    </div>

    <div class="d-flex flex-row col-sm mt-2">
        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/docker.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">Docker</p>
        </div>


    </div>
</div>