---
import 'bootstrap-icons/font/bootstrap-icons.css';

---


<div class="container">
    <div><h4>Web Development</h4></div>
    <div class="d-flex flex-row col-sm mt-2">
        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/pl.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">PHP</p>
        </div>


        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/html.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">HTML</p>
        </div>


        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/js.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">Javascript</p>
        </div>

    </div>

    <div class="d-flex flex-row col-sm mt-2">
        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/react.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">React</p>
        </div>


        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/angularjs.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">Angular</p>
        </div>


        <div class="d-flex col-sm mt-2 align-items-center">
            <img src="/astro.png" alt="css3" class="img-fluid fs-1" style="width: 60px; height: 60px;">
            <p class="ms-3 mb-0">Astro.js</p>
        </div>

    </div>
</div>
